<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>занятие</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <%- include('blocks/menu.ejs') %>
          <h1>Записаться на занятие</h1>
          <form method="post" action="/add">
            <input name="russian_name" type="text" placeholder="Название на русском"><br>
            <input name="time" type="text" placeholder="Время"><br>
            <input name="original_name" type="text" placeholder="Оригинальное название"><br>
            <textarea name="day" id="" cols="30" rows="5" placeholder="Понедельник, Вторник, Среда ..."></textarea><br>
            <button type="submit">Добавить</button>
        </form>
</body>
</html>